/* Colors */

:root {
    --bg-color: #333646;
    --light-color: #F2F2F2;
    --dim-color: #BDBDBD;
    --footer-color: #252734;
    --orange-color: #FFAF29;
    --rect-color: #424657;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--bg-color);
}

.wrapper {
    width: 1152px;
    margin: 0 auto;
    padding: 0 100px;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 2;
    margin-bottom: 20px;
}

section {
    padding-top: 100px;
}

section p {
    color: var(--dark-color);
}

/* Header Navigation */
.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
    border-radius: 35.5px;
    padding: 5px 40px;
    padding-right: 0;

    position: fixed;
    z-index: 200;
    width: calc(1152px - 200px);
    top: 28px;
}
/* Logo */
.logo a{
    display: flex;
    align-items: center;
}

.logo a li {
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
    color: var(--orange-color);
    font-size: 16px;
    font-weight: bold;
}


/* menu items */
.desktop-nav .menu-items {
    display: flex;
    list-style: none;
    color: var(--orange-color);
}

.desktop-nav .menu-items li {
    margin: 0 40px;
}

.desktop-nav .menu-items li a {
    text-decoration: none;
    color: var(--orange-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

/* Header */
header {
    display: flex;
    /* height: 100vh; */
    align-items: center;
    justify-content: space-between;
}
header h2 {
    color: var(--orange-color);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
}
header h1 {
    color: var(--light-color);
    font-family: "Montserrat", sans-serif;
    font-size: 48px;

}
header {
    margin-top: 150px;
}
.header-container {
    min-height: calc(100vh - 240px);
}
.hero-content p {
    color: var(--dim-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 70px;
}
header .iglink {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}
.iglink li{
    display: flex;
    margin-right: 30px;
    align-items: center;
}
.iglink .ig {
    margin-right: 100px;
}
.iglink li:nth-last-of-type(2) {
    margin-right: 5px;
}
a {
    text-decoration: none;
    color: var(--dim-color);
}
.iglink a img {
    transition: 500ms;
}
.iglink a img:hover {
    transform: scale(1.2);
}

/* Portofolio */
.portofolio {
    color: var(--light-color);
    margin-bottom: 100px;
}

.portofolio h1 {
    margin-bottom: 18px
}

.porto-content {
    display: flex;
}

.porto-desc {
    margin-left: 20px;
    color: var(--dim-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.porto-desc h2 {
    margin-bottom: 30px;
}

.porto-desc p {
    text-align: justify;
}

.porto-desc #text {
    margin-top: 65px;
    font-style: italic;
}

/* Set Hover Porto */
.porto-content {
    position: relative;
}
  
.porto-img {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.porto-content:hover .porto-img {
    opacity: 0.3;
}
  
.porto-content:hover .middle {
    opacity: 1;
}
  
.text {
    /* background-color: #303030; */
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 20px;
}

/* Skills */
.skills {
    color: var(--light-color);
    margin-bottom: 50px;
}

.skills h1 {
    margin-bottom: 18px
}

.skill-content {
    display: flex;
    justify-content: space-between;
}

.skill-content .skill-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-content h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.skill-content .web-dev h3, .prog h3, .mm h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-bottom: 17px;
}

.skill-content .mm, .web-dev, .prog {
    background-color: var(--rect-color);
    padding: 26px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px -31px rgba(0, 0, 0, 0.25);
}

/* Footer */
footer {
    color: var(--light-color);
    text-align: center;
    background-color: var(--footer-color);
    width: 100%;
}

footer h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 18px;
    padding-top: 24px;
}

footer .socmed {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.socmed a img {
    transition: 500ms;
}
.socmed a img:hover {
    transform: scale(1.2);
}

footer li {
    display: table;
    margin: 0 30px;
    margin-bottom: 30px;
}



/* Animate */

/* navbar */
.desktop-nav {
    animation: fadeToDown 600ms forwards;
    opacity: 0;
    animation-delay: 800ms;
}

@keyframes fadeToDown {
    from {
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* hero content */
.hero-content {
    animation: fadeToRight 1000ms forwards;
    opacity: 0;
    animation-delay: 1200ms;
}

@keyframes fadeToRight {
    from {
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* hero image */
.hero-image {
    animation: fadeToLeft 1400ms forwards;
    opacity: 0;
    animation-delay: 1600ms;
}

@keyframes fadeToLeft {
    from {
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* porto folio */
.portofolio {
    animation: fadeIn 1800ms forwards;
    opacity: 0;
    animation-delay: 2000ms;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/* skill */
.skills {
    animation: scaleUp 2200ms forwards;
    opacity: 0;
    animation-delay: 2400ms;
}

@keyframes scaleUp {
    from {
        transform: scale(0.9);
    }
  
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* footer */
footer {
    animation: fadeUp 2600ms forwards;
    opacity: 0;
    animation-delay: 2700ms;
}


@keyframes fadeUp {
    from {
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}