/* Colors */

:root {
    --bg-color: #333646;
    --light-color: #F2F2F2;
    --dim-color: #BDBDBD;
    --footer-color: #252734;
    --orange-color: #FFAF29;
    --rect-color: #424657;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
}

.wrapper {
    width: 1152px;
    margin: 0 auto;
    padding: 0 100px;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 2;
    margin-bottom: 20px;
}

section {
    padding-top: 100px;
}

section p {
    color: var(--dark-color);
}

/* Header Navigation */
.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
    border-radius: 35.5px;
    padding: 5px 40px;
    padding-right: 0;

    position: fixed;
    z-index: 200;
    width: calc(1152px - 200px);
    top: 28px;
}

.desktop-nav .menu-items {
    display: flex;
    list-style: none;
    color: var(--orange-color);
}

.desktop-nav .menu-items li {
    margin: 0 40px;
}

.desktop-nav .menu-items li a {
    text-decoration: none;
    color: var(--orange-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

header {
    display: flex;
    /* height: 70vh; */
    align-items: center;
    justify-content: space-between;
}

header h2 {
    color: var(--orange-color);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
}

header h1 {
    color: var(--light-color);
    font-family: "Montserrat", sans-serif;
    font-size: 48px;

}
header {
    margin-top: 150px;
}

.header-container {
    min-height: calc(100vh - 240px);
}


.hero-content p {
    color: var(--dim-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 70px;
}

header .iglink {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.iglink li{
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.iglink .ig {
    margin-right: 100px;
}
.iglink li:nth-last-of-type(2) {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: var(--dim-color);
}

.iglink a img {
    transition: 500ms;
}
.iglink a img:hover {
    transform: scale(1.2);
}

skills {
    color: var(--light-color);
}

skills h1 {
    margin-bottom: 18px
}

.skill-content {
    display: flex;
    justify-content: space-between;
}

.skill-content .skill-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.skill-content h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.skill-content .web-dev h3, .prog h3, .mm h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-bottom: 17px;
}

.skill-content .mm, .web-dev, .prog {
    background-color: var(--rect-color);
    padding: 26px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px -31px rgba(0, 0, 0, 0.25);
}

/* Footer */
footer {
    color: var(--light-color);
    text-align: center;
    background-color: var(--footer-color);
    width: 100%;
}

footer h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 18px;
    padding-top: 24px;
}

footer .socmed {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.socmed a img {
    transition: 500ms;
}
.socmed a img:hover {
    transform: scale(1.2);
}


footer li {
    display: table;
    margin: 0 30px;
    margin-bottom: 30px;
}