* {
    box-sizing: border-box;
    margin: 0;
}

/* Navigation */

.nav-container {
    position: absolute;
    width: auto;
    height: 147px;
    left: 0px;
    top: 0px;

    background: #333646;
}

.nav-container m {
    position: absolute;
    width: 1920px;
    height: 1539px;
    left: 0px;
    top: 0px;
    
    background: #333646;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

.logo a {
    position: absolute;
    width: 74px;
    height: 74px;
    left: 173px;
    top: 36px;
}


.logo p a {
    position: absolute;
    width: 264px;
    height: 30px;
    left: 269px;
    top: 58px;
    
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    
    color: #FAC402;
    text-decoration: none;
}
.nav-items {
    position: absolute;
    width: 387px;
    height: 30px;
    left: 1397px;
    top: 58px;
}

.nav-items li {
    list-style: none;
    margin-right: 50px;
}

.nav-items li:nth-last-of-type(1){
    margin:0;
}

.nav-items li a {
    font-family: "Montserrat", sans-serif;
    color: #FAC402;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    position: absolute;
    width: 566px;
    height: 59px;
    left: 173px;
    top: 296px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    
    
    color: #FFAF29;
}

header h1 {

    position: absolute;
    width: 518px;
    height: 78px;
    left: 173px;
    top: 355px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    /* identical to box height */
    
    
    /* Gray 6 */
    
    color: #F2F2F2;
    
}

header h3 {
    position: absolute;
    width: 130px;
    height: 6px;
    left: 173px;
    top: 482px;
    
    background: #FFAF29;
}

header p {
    position: absolute;
    width: 768px;
    height: 82px;
    left: 173px;
    top: 550px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;

    color: #BDBDBD;
}

header a .linkedin{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 173px;
    top: 681px;
}

header a .ig{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 261px;
    top: 681px;
}

header a .dl {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 673px;
    top: 681px;
}

header a c {
    position: absolute;
    width: 109px;
    height: 32px;
    left: 722px;
    top: 685px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    
    color: #BDBDBD;
}

.hero-image {
    position: absolute;
    width: 572.37px;
    height: 851px;
    left: 1131.63px;
    top: 147px;
}


/* body-new */

body-new h1 {
    position: absolute;
    width: 175px;
    height: 78px;
    left: 176px;
    top: 916px;
    
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    
    color: #F2F2F2;
}

body-new e {
    position: absolute;
    width: 466px;
    height: 169px;
    left: 176px;
    top: 1024px;
    
    background: #424657;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
body-new c {
    position: absolute;
    width: 466px;
    height: 169px;
    left: 727px;
    top: 1024px;
    
    background: #424657;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
body-new d {
    position: absolute;
    width: 466px;
    height: 169px;
    left: 1278px;
    top: 1024px;
    
    background: #424657;
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


body-new .dm {
    position: absolute;
    width: 335px;
    height: 34px;
    left: 241px;
    top: 1038px;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F2F2F2;
}
body-new .ps {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 293px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
body-new .ai {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 378px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
body-new .pr {
    position: absolute;
    width: 59.26px;
    height: 60px;
    left: 463px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

body-new .web-dev {
    position: absolute;
    width: 263px;
    height: 34px;
    left: 829px;
    top: 1038px;
    
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    /* Gray 6 */
    
    color: #F2F2F2;
}
body-new .htm {
    position: absolute;
    width: 73px;
    height: 72px;
    left: 791px;
    top: 1097px;

    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    
}
body-new .css {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 889px;
    top: 1097px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
body-new .js {
    position: absolute;
    width: 59.27px;
    height: 60px;
    left: 986px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
body-new .larv {
    position: absolute;
    width: 59.27px;
    height: 60px;
    left: 1070.27px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

body-new .prog {
position: absolute;
width: 335px;
height: 34px;
left: 1344px;
top: 1038px;

font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
text-align: center;

/* Gray 6 */

color: #F2F2F2;
}
body-new .py {
    position: absolute;
    width: 62.93px;
    height: 60px;
    left: 1407px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
body-new .c {
    position: absolute;
    width: 53.34px;
    height: 60px;
    left: 1494.93px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}
body-new .r {
    position: absolute;
    width: 68.09px;
    height: 60px;
    left: 1573.27px;
    top: 1103px;
    
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

/* Footer */


footer h2 {
    position: absolute;
    width: 1920px;
    height: 180px;
    left: 0px;
    top: 1359px;

    background: #252734;
}


footer h3 {
    position: absolute;
    width: 221px;
    height: 44px;
    left: 850px;
    top: 1374px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    /* Gray 6 */
    
    color: #F2F2F2;
}

footer a .gmail {
    position: absolute;
    width: 50px;
    height: 40px;
    left: 825px;
    top: 1456px;
}

footer a .wa {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 940px;
    top: 1455px;
    
}

footer a .line {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1050px;
    top: 1455px;
}
